#navbar {
  position: relative;
  background: #ff1c4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Logo_Btn__Section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Side_Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  margin: 0rem 0.5rem;
}
#Side_Btn:hover {
  cursor: pointer;
}
#Side_Btn span {
  display: block;
  height: 0.2rem;
  width: 100%;
  margin-bottom: 0.3rem;
  background: white;
}
#Logo {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin-left: 0.2rem;
}
ul {
  display: none;
  margin: 1rem 0rem;
  list-style: none;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0rem 1rem;
}
.Links {
  text-decoration: none;
  color: white;
  padding: 0.3rem 0.5rem;
  font-weight: bolder;
}
.Links:hover {
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
.image_Link {
  margin: 0rem;
  padding: 0rem;
}
.image_Link:hover {
  background: none;
  margin: 0rem;
}
@media (min-width: 40.625rem) {
  #Logo {
    font-size: 1.7rem;
  }
  li {
    margin: 0rem 0.2rem;
  }
  #Side_Btn {
    display: none;
  }
  ul {
    display: flex;
  }
}
