#Side_Nav_Bar {
  position: absolute;
  z-index: 150;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.Side_Links {
  text-decoration: none;
  list-style: none;
  display: block;
  width: 100%;
  color: black;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0rem;
  position: relative;
  transform: translateY(-100%);
}
.Side_Links:hover {
  text-decoration: none;
  background: orange;
  color: #fff;
  border-radius: 10px;
}
