#Products_Div {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Products {
  flex: 0 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  background: white;
  color: black;
}
.Product_Image_Section > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.Products:hover {
  background: rgb(229, 226, 226);
  border: 1px solid blue;
  cursor: pointer;
  color: black;
}
.Product_Image_Section {
  margin: 0px auto;
}
.Product_Button_Section {
  display: flex;
  flex-direction: column-reverse;
}
.Btns {
  border-radius: 5px;
}
.Product_Button_Section > button,
.Product_Button_Section > .Btns {
  font-size: 1rem;
  margin: 0.3rem auto;
  display: block;
  width: 80%;
}

@media (max-width: 37.5rem) {
  .Products {
    width: 90%;
    text-align: center;
  }
}
